# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/


# Docker files
*.log
*.sqlite
docker-compose.override.yml

# MySQL Docker volume data
mysql_data/

# Editor and IDE configurations
.idea/
.vscode/

# Test coverage directory
.coverage
.tox/
.nox/
.docker/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Other unnecessary files and directories
*.DS_Store
